//Art-index

// Variables
@use "../utilities/mixins" as m;
@use "../utilities/variables" as v;

$carousel-item-height: 250px;
$carousel-item-transition-duration: 0.3s;
$carousel-item-hover-scale: 1.2;
$card-margin-b: 80px;
$card-margin-l: 50px;
$card-max-w: 50vw;
$card-body-h: 180px;
$category-border-color: black;
$category-border-width: 1px;
$category-border-style: solid;
$category-width: 35px;

// Mixins
@mixin art-banner-styles {
  position: relative;
  background-size: cover;
  background-position: center;
  color: v.$font-color-w;
  padding: v.$banner-padding;
  text-align: center;
  max-width: v.$banner-max-width;
  height: v.$banner-height;
  margin: 0 auto;
  margin-top: v.$banner-margin-top;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: v.$background-overlay;
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 1;

    h1, p {
      font-family: v.$font-family;
      font-weight: v.$font-weight-bold;
    }

    h1 {
      font-size: 50px;
      font-weight: 700;
    }

    p {
      font-size: 30px;
    }
  }
}

// Estilos de las cards
.banner-container {
  position: relative;
  overflow: hidden;

  .dash {
    position: absolute;
    top: 60%;
    width: 100px;
    height: 3px;
    background-color: v.$font-color-w;
    z-index: 2;

    &.left {
      left: 30%;
    }

    &.right {
      right: 30%;
    }
  }

  .art-banner {
    @include art-banner-styles;
    background-image: url('./../assets/img/art-banner.jpg');
  }

  @include m.mobile {
    .art-banner {
      width: 100%;
    }
  }

}

.custom-container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.cc {
  margin-top: 3rem;
}

.c-col {
  flex: 0 0 50%;
  max-width: 50%;

  @include m.mobile {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.card {
  margin-bottom: $card-margin-b;
  margin-left: $card-margin-l;
  max-width: $card-max-w;

  @include m.mobile {
    margin-bottom: 80px;
    max-width: calc(80% - 30px);
    margin-left: auto;
    margin-right: auto;
  }

}

.carousel-inner-art {
  position: relative;
  margin: auto;
  width: 100%;
  height: $carousel-item-height;
  overflow: hidden;

  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: fill;
    transition: transform $carousel-item-transition-duration ease;

    &:hover {
      transform: scale($carousel-item-hover-scale);
    }
  }
}

@include m.mobile {
  .carousel-inner-art {
    height: 250px;
  }
}

@include m.mobile {
  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3 ease;
  }
}

.card-body {
  height: $card-body-h;

  h6 {
    font-family: v.$font-family;
    font-weight: v.$font-weight-bold;
    border-bottom: $category-border-width $category-border-style $category-border-color;
    width: $category-width;
  }

  h3 {
    font-family: v.$font-family;
    font-weight: v.$font-weight-normal;
  }

  p {
    font-family: v.$font-family;
    font-weight: v.$font-weight-bold;
  }
}

@include m.mobile {
  .card-body {
    height: 200px;
  }
}