//Header

// Variables

@use "../utilities/mixins" as m;
@use "../utilities/variables" as v;

$font-size: 26px;
$border-bottom-width: 2px;
$padding-header: 15px;
$padding-link: 10px;
$margin-left-logo: 22%;
$margin-right-nav: 400px;
$img-height: 200px;
$img-width: 350px;

// Mixin para las transiciones
@mixin transition($property, $duration) {
  transition: $property $duration ease;
}

.header {
  background-color: v.$background-color;
  padding: $padding-header;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #btn-menu {
    display: none;
  }

  label {
    display: none;

    @include m.mobile {
      display: block;
      position: relative;
      right: 40px;

      img {
        width: 50px;
      }
    }
  }

}

@include m.mobile {
  .header {
    padding: 0;
    nav ul li {
      margin: 0;
      padding-bottom: 10px;
    }
  }
}

.logo-container {
  margin-left: $margin-left-logo;
  img {
    width: 180px;
    @include m.mobile {
      width: 160px;
    }
  }
}

@include m.mobile {
  .logo-container {
    margin-left: 0;
  }
}

.left-img {
  position: absolute;
  top: 11%;
  transform: translateY(-50%);
  left: 0;
  img {
    height: $img-height;
    width: $img-width;
  }
}

@include m.mobile {
  .left-img {
    position: absolute;
    top: 28%;
    transform: translateY(-50%);
    max-width: 35vw;
    visibility: hidden;
    transition: visibility 1s, opacity 1s ease;
    opacity: 0;
    z-index: 1100;

  img {
    height: 150px;
    width: 100%;
  }
  }
}

.right-img {
  position: absolute;
  top: 11%;
  transform: translateY(-50%);
  right: 0;
  img {
    height: $img-height;
    width: $img-width;
  }
}

@include m.mobile {
  .right-img {
    position: absolute;
    top: 28%;
    transform: translateY(-50%);
    max-width: 35vw;
    visibility: hidden;
    transition: visibility 1s, opacity 1s ease;
    opacity: 0;
    z-index: 1100;

  img {
    height: 150px;
    width: 100%;
  }
  }
}

@include m.mobile {
  #btn-menu:checked ~ .left-img {
    visibility: visible;
    opacity: 1;
  }
}

@include m.mobile {
  #btn-menu:checked ~ .right-img {
    visibility: visible;
    opacity: 1;
  }
}

nav {
  margin-right: $margin-right-nav;
  z-index: 1000;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    li {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: v.$color-text;
        text-decoration: none;
        font-family: v.$font-family;
        font-weight: v.$font-weight-bold;
        font-size: $font-size;
        padding: $padding-link;
        border-bottom: $border-bottom-width solid transparent;
        @include transition(color, v.$transition-duration);
        @include transition(border-bottom, v.$transition-duration);
        &:hover {
          color: v.$color-text;
          border-bottom: $border-bottom-width solid v.$color-text;
        }
      }
    }
  }
}

@include m.mobile {
  .desktop-menu {
    position: absolute;
    top: 133.93px;
    background-color: v.$background-color;
    width: 100%;
    visibility: hidden;
    transition: visibility 1s, opacity 1s ease;
    opacity: 0;

    ul {
      flex-direction: column;
      align-items: center;
    }
  }
}

@include m.mobile {
  #btn-menu:checked ~ .desktop-menu {
    visibility: visible;
    opacity: 1;
  }
}